h1{
  color: rgb(255 , 0 ,0 );
  background: rgb(0, 0, 255);
  text-align: center;
}

p{
  font-weight: 900;
  font-size: 30px;
  font-family: sans-serif;
}

#logo{
  text-align: center;
  margin: auto;
}
/* margin auto centers div id */

a{
  color: green;
  text-decoration: none;  
}
/* takes away underline */

img{
  width: 20%
}